@media screen and (max-width: 1238px) {

  .gridOfFour {
    gap: 3.5%;
  }

  .gridOfFour__card {
    flex-basis: 31%;
  }

}
@media screen and (max-width: 992px) {

  .gridOfFour {
    gap: 2%;
  }

  .gridOfFour__card {
    flex-basis: 49%;
  }

}
@media screen and (max-width: 768px) {

  .gridOfFour {
    gap: 0;
    max-width: 360px;
    margin: 0 auto;
  }

  .gridOfFour__card {
    flex-basis: 100%;
  }

}
