@media screen and (max-width: 992px) {

  .gridOfFour {
    gap: 2%;
  }

  .gridOfFour__card {
    flex-basis: 32%;
  }

}
@media screen and (max-width: 768px) {

  .gridOfFour {
    gap: 2%;
  }

  .gridOfFour__card {
    flex-basis: 49%;
  }

}
