.heading {}

.heading_h1 {
  font-family: "Chillax", sans-serif;
  font-weight: 600;
  font-size: 50px;
}

.heading_h2 {
  font-weight: 700;
  font-size: 30px;
}

.heading_h3 {
  font-weight: 700;
  font-size: 25px;
}
