.loader {
  display: flex;
  align-self: center;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  animation: spinner .5s infinite linear;
}

@keyframes spinner {
  to {
    transform: rotate(1turn);
  }
}
