.videosList {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 40px;
}

.videosList__heading {
  flex-grow: 1;
}

.videosList__controls {
}

.videosList__content {
  flex: 2 0 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.videosList__loader {
  width: 100%;
  min-height: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.videosList__empty {
  min-height: 320px;
  max-width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 14px;
}
