.button {
  display: inline-flex;
  align-items: center;
  align-self: flex-start;
  position: relative;
  border-radius: 44px;
  text-decoration: none;
}

.button__label {
  padding: 16px 56px;
  font-size: 16px;
  font-weight: 700;
  transition: .2s ease;
  text-align: center;
  white-space: nowrap;
}

/* ------------------ MAIN ------------------ */
.button_main {
  border: 2px solid rgba(91, 77, 255, 1);
  background: rgba(91, 77, 255, 1);
}

.button_main > .button__label {
  color: rgba(255, 255, 255, 1);
}

/* ------------------ TRANSPARENT ------------------ */
.button_transparent {
  border: 2px solid rgba(91, 77, 255, 1);
  background: none;
}

.button_transparent > .button__label {
  color: rgba(91, 77, 255, 1);
}

/* ------------------ TEXT ------------------ */
.button_link {
  background: none;
  border-radius: 0;
}

.button_link > .button__label {
  display: inline;
  padding: 0;
  color: rgba(91, 77, 255, 1);
}

/* ------------------ DISABLED ------------------ */
.button_disabled.button_main  {
  background: rgba(91, 77, 255, .6);
  border-color: rgba(91, 77, 255, 0);
}

.button_disabled.button_transparent {
  border-color: rgba(91, 77, 255, .4);
}

.button_disabled.button_transparent > .button__label {
  color: rgba(91, 77, 255, .4);
}

.button_disabled.button_link > .button__label {
  color: rgba(91, 77, 255, .6);
}

/* ------------------ LOADING ------------------ */
@keyframes spinner {
  to {
    transform: rotate(1turn);
  }
}

.button_loading > .button__label {
  transition: .2s ease;
  transform: translateX(-12px);
}

.button__loader {
  display: inline-block;
  position: absolute;
  right: 36px;
  width: 14px;
  height: 14px;
  border-radius: 100%;
  animation: spinner 1s infinite linear;
}

/* ------------------ INTERACTIONS ------------------ */
.button__label::selection {
  background: none
}

.button_main:hover,
.button_transparent:hover {
  cursor: pointer;
  box-shadow: 0 4px 22px rgba(91, 77, 255, .2);
}

.button_main:active {
  box-shadow: inset 0 4px 22px rgba(5, 0, 61, .2);
}

.button_transparent:active {
  box-shadow: inset 0 4px 22px rgba(144, 162, 255, 0.2);
}

.button_link:after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 0;
  border-bottom: 2px solid rgba(91, 77, 255, 1);
  transition: .2s ease;
}

.button_link:hover:after {
  width: 100%;
}

.button_disabled.button_link:hover .button__label {
  border: none;
}
