.userPage {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userPage__pic {
  height: 154px;
  width: 154px;
  border-radius: 100%;
  overflow: hidden;
  margin-bottom: 20px;
}

.userPage__heading{
  margin-bottom: 100px;
}

.userPage__content {
  width: 100%;
}

.userPage_gradientBlock {
  background: linear-gradient(-45deg, #5B4DFF, #e5e8ff);
  background-size: 400% 400%;
  animation: gradient .6s ease infinite;
}

.userPage_gradientLine {
  min-width: 25%;
  border-radius: 14px;
  background: linear-gradient(-45deg, #e5e8ff, #ffffff);
  background-size: 200% 200%;
  animation: gradient .6s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
